<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="./assets/img/logo-2.png" alt="" height="24">

    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/aboutus']">Sobre mi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['./listbook']">Libros</a>
        </li>
        
      </ul>

    </div>
    <div class="justify-content-end">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <div *ngIf="IsAuthenticated">
            <a (click)="closed()" class="mr-3"> Cerrar cuenta </a>
            <a [routerLink]="['./dashboard']" class="ml-3">Dashboard</a>
          </div>
          <div *ngIf="!IsAuthenticated">
            <a class="nav-link active" aria-current="page" [routerLink]="['/login']">Login</a>
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>