<div class="row">
    <div class="col-sm-3">

    </div>
<div class="col-sm-9">
    <h5>Nuevos Libros Agregados</h5>
    <div class="listBook">
        <div class="row">
            <div class="col-sm-2" style="padding: 0 30px 0 30px; position: relative;" *ngFor="let item of Books"
                [routerLink]="['/detailsBook',item.idBooks]">
                <div class="imgListBook" style="border-radius: 100%;">
                    <img src="./assets/img/457-min.jpg">
                </div>
    
                <div class="detailsBook">
                    <div class="titleBook">
                        {{item.name}}
                    </div>
                    <div class="authorBook">
                        <span>By</span>
                        <strong class="nameAuthorBook">{{item.name}}</strong>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</div>
</div>