<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-2">

            <br>
            <br>
            <br>
            <br>
            <div class="justify-content-center align-middle">
                <div class="formLogin">
                    <h5 class="text-center">Login</h5>
                    <small>Inicie con su cuenta </small>
                    <div class="mt-3 mb-3"></div>
                    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input placeholder="Email" required class="form-control" formControlName="email">
                        </div>
                        <div class="mt-3 mb-3"></div>

                        <div class="form-group">
                            <label for="email">Password:</label>
                            <input placeholder="Password" type="password" required class="form-control" formControlName="password">
                        </div>
                        <div class="mt-3 mb-3"></div>

                        <div class="text-center">
                            <button class="btn btn-success btn-sm" [disabled]="!profileForm.valid" >Login</button>
                        </div>
                    </form>
                    <div>¿Aún no tienes cuenta? <a [routerLink]="['/register']">Registrate Gratis</a></div>
                </div>
            </div>
        </div>
        <div class="col-sm-5"></div>

        <div class="col-sm-6 loginBackground hidden" hidden >
            <h5 class="text-center align-middle">Biblioteca Express</h5>
        </div>
    </div>
</div>