<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-2">
            <br>
            <br>
            <br>
            <br>
            <div class="justify-content-center align-middle">
                <div class="formLogin">
                    <h5 class="text-center">Registro</h5>
                    <small>registre su cuenta </small>
                    <div class="mt-3 mb-3"></div>
                    <form>
                        <div class="form-group">
                            <label for="email">Nombre:</label>
                            <input placeholder="Nombres" required class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="email">Apellido:</label>
                            <input placeholder="Appellidos" required class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input placeholder="Email" required class="form-control">
                        </div>
                        <div class="mt-3 mb-3"></div>

                        <div class="form-group">
                            <label for="email">Password:</label>
                            <input placeholder="Password" required class="form-control" >
                        </div>
                        <div class="mt-3 mb-3"></div>

                        <div class="text-center">
                            <button class="btn btn-success btn-sm">Login</button>
                        </div>
                    </form>
                    <div>¿Ya tienes una cuenta? <a [routerLink]="['/login']">Inicia con tus datos </a></div>
                </div>
            </div>
        </div>
        <div class="col-sm-5"></div>

        <div class="col-sm-6 loginBackground hidden" hidden>
            <h5 class="text-center align-middle">Biblioteca Express</h5>
        </div>
    </div>
</div>