<div class="row">
    <div class="col-sm-12">
        <p>
            mi experiencia que a lo largo del tiempo he adquirido. Ofrezco alternativas y soluciones a los requerimientos de
            cada empresa, encargándose de cada necesidad de forma integral, cuento con más de ​12 años de experiencia en el área
            de,Liderazgo, planeación , desarrollos, diseño, arquitectura, y puesta en funcionamiento de aplicaciones web y
            mobile.
        
        </p>
    </div>
</div>