<div class="row">
  <div class="col-sm-3">
   <!-- <ul class="nav nav-tabs small ">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>-->
  </div>
  <div class="col-sm-9">
   <!--  <ul class="nav nav-tabs small justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>-->
    <div class="listBook">
      <div class="row">
        <div class="col-sm-2" style="padding: 0 30px 0 30px; position: relative;" *ngFor="let item of Books"
          [routerLink]="['/detailsBook',item.idBooks]">
          <div class="imgListBook" style="border-radius: 100%;">
            <img src="./assets/img/457-min.jpg">
          </div>
          
          <div class="detailsBook">
            <div class="titleBook">
              {{item.name}}
            </div>
            <div class="authorBook">
              <span>By</span>
              <strong class="nameAuthorBook">{{item.name}}</strong>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">

</div>