<div class="row">
    <div class="col-sm-4">
        <div class="createBook">
            <div>
                <h5>Nuevo libro</h5>
                <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Nombre del Libro</label>
                        <input type="text" class="form-control" placeholder="Nombre del libro" formControlName="Name">
                    </div>
                    <div class="form-group">
                        <label>Sinapsis</label>
                        <textarea type="text" class="form-control" placeholder="Sinapsis"
                            formControlName="synapse"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Numero de paginas</label>
                        <input type="text" class="form-control" placeholder="Numero de paginas"
                            formControlName="NumberPages">
                    </div>
                    <div class="form-group">
                        <label>fecha de publicacion</label>
                        <input type="date" class="form-control" placeholder="Fecha de publicacion"
                            formControlName="PublicationDate">
                    </div>
                    <div class="form-group">
                        <label>Generao del libro</label>
                        <select class="form-control" placeholder="Genero" formControlName="IdBookGenre">
                            <option value="{{item.idBookGenre}}" *ngFor="let item of bookGenres">{{item.name}}</option>
                        </select> </div>
                    <div class="form-group">
                        <label>Editorial</label>
                        <select class="form-control" placeholder="Editorial" formControlName="IdEditorials">
                            <option *ngFor="let item of editorials" value="{{item.idEditorials }}">{{item.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-sm" [disabled]="!profileForm.valid">Crear libro</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="">
    <div class="listBook">
        <div class="row">
            <div class="col-sm-2" style="padding: 0 30px 0 30px; position: relative;" *ngFor="let item of Books"
                >
                <div class="imgListBook" style="border-radius: 100%;" [routerLink]="['/detailsBook',item.idBooks]">
                    <img src="./assets/img/457-min.jpg" style="width:100%;">
                </div>
                <div class="iconDelete" (click)="deleteBook(item.idBooks)">
                    <i class="fas fa-trash-alt"></i>
                </div>
                <div class="iconUpdate" [routerLink]="['/updateBook', item.idBooks]">
                    <i class="fas fa-edit"></i>
                </div>
                <div class="detailsBook">
                    <div class="titleBook">
                        <strong>{{item.name}}</strong>
                    </div>
                    <!--<div class="authorBook">
                <span>Genero</span>
                <strong class="nameAuthorBook">{{item.name}}</strong>
              </div>-->
                    <div class="genreBook">
                        <span>Genero: </span>
                        <strong class="nameAuthorBook">{{item.name}}</strong>
                    </div>
                    <div class="genreBook">
                        <span>Fecha de publicacion: </span>
                        <strong class="nameAuthorBook">{{item.publicationDate | date}}</strong>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>