@import "../node_modules/bootstrap/scss/bootstrap"
@import '~ngx-toastr/toastr'

.body
    font-family: 'Lato', sans-serif

.imgListBook
    border-radius: 100%

.imgListBook img
    object-fit: cover
    width: 100%
.iconDelete
    color: #f00
    position: absolute
    top: 10px
    right: 35px
.iconUpdate
    color: #59ec9b
    position: absolute
    top: 10px
    left: 35px
.listBook
    margin: 50px 0 0 50px
.detailsBook
    padding: 0 0 0 10px
    margin: 10px 0 0 10px
.formLogin
    width: 100%
    margin: auto
    border: radius 4px
    border: 1px solid #e9e9e9
    padding: 20px
.loginBackground
    background: url(./assets/img/book-in-library-with-open-textbook-min-min.jpg) no-repeat
    background-size: cover
    width: 100%
    height: 100vh
    background-position: right
    font-family: 'Josefin Sans', sans-serif
    color: #fff
.genreBook
    font-size: 11px
    color: #6f6f6f
